# Options +FollowSymlinks

# SEO URL Settings
RewriteEngine On
RewriteBase /

# exclude CMS folder
RewriteRule ^(admin)($|/) - [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ ?arg=$1 [L,QSA]

# lomitko
RewriteCond %{REQUEST_URI} !\.[[:alnum:]]+$
RewriteRule ^(.+[^/])$ /$1/ [R=301]