* {-webkit-transition: all 500ms ease-in-out;-moz-transition: all 500ms ease-in-out;-ms-transition: all 500ms ease-in-out;-o-transition: all 500ms ease-in-out;transition: all 500ms ease-in-out;}

body {background:#101010 url("../images/background.png") top center no-repeat;-webkit-transition:none;-moz-transition:none;-ms-transition:none;-o-transition:none;transition:none;}

h1, h2 {display:none;}

.row {margin:0;}

nav {margin-top:10px;height:70px;}
.navbar-nav {padding-left:100px;}
.navbar-nav > li > a {font-size:12pt;}
.navbar-default {border:1px solid rgba(255, 255, 255, 0.15);background:rgba(80, 26, 0, 0.9);border-radius:7px;}
.navbar-default .navbar-nav > li > a {color:#dedede;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {background:rgba(255, 255, 255, 0.1);color:#f5f5f5;}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {background:rgba(255, 255, 255, 0.1);color:#f5f5f5;}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {color:#f5f5f5;background:rgba(255, 255, 255, 0.1);}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {background:rgba(80, 26, 0, 0.8);color:#f5f5f5;}
.navbar-nav > li {margin-right:1px;}

footer {color:#DC783E;}

#wrapper {padding-bottom:20px;}
#head {margin-top:30px;}
#main {padding-left:50px;padding-top:50px;}
#content {margin-top:-60px;}

.brownTable {border:1px solid rgb(156, 67, 24);border-radius:4px;background:#501A00;color:#fefefe;border-collapse:separate;}
.brownTable th {}
.brownTable > thead > tr > th, .brownTable > tbody > tr > th, .brownTable > tfoot > tr > th, .brownTable > thead > tr > td, .brownTable > tbody > tr > td, .brownTable > tfoot > tr > td {border-top:1px solid rgb(156, 67, 24);text-align:center;vertical-align: middle;}
.brownTable > thead > tr > th, .brownTable > tbody > tr > th, .brownTable > tfoot > tr > th {border-top:0;padding:15px;}

.brownPanel.panel-default {border-color:rgb(156, 67, 24);}
.brownPanel .panel-heading {background:#501A00;border-color:rgb(156, 67, 24);}
.brownPanel .panel-title {color:#f5f5f5;}
.brownPanel .panel-body {background:#501A00;color:#c5c5c5;}
.brownPanel .panel-footer {background:#501A00;border-color:rgb(156, 67, 24);color:#c5c5c5;}

.article .panel-title {font-size:13pt;}

.avatar {
    overflow: hidden;
    padding: 1px;
    background-color: black;
    background-position: 1px 1px;
    background-repeat: no-repeat;
    float: left;
    border: 1px solid #4C3E33;
    border-bottom-color: #523F33;
    border-top-color: #887465;
    border-radius: 4px;
    width: 96px;
    height: 96px;
    margin-right:15px;margin-bottom:15px;
    -moz-box-shadow: #000 0 0 10px;
    -webkit-box-shadow: #000 0 0 10px;
    box-shadow: #000 0 0 10px;
}
.avatar img {width:100%;height:100%;}

#infoPanel {}
#infoPanel hr {border-color: rgb(156, 67, 24);}

.serverStatus {color:#FFC903;font-size:11pt;line-height:18pt;}
.serverStatus img {margin-right:5px;}

#page #main #eagle {margin:0px 0px 200px 100px;}

#logoLink {float:left;padding-top:5px;}
#logo {position:absolute;top:-37px;left:-37px;width:144px;height:144px;background: url('../images/logo.png') top center no-repeat;z-index:100;}
#logo:hover {-webkit-filter:brightness(1.5);}
#bear {opacity:0.7;width:350px;position:absolute;top:0;left:0;}
#eagle {opacity:0.8;margin:0px 0px 275px 100px;width:250px;-webkit-filter:brightness(0.75);-webkit-transition: all 100ms ease-in-out;-moz-transition: all 100ms ease-in-out;-ms-transition: all 100ms ease-in-out;-o-transition: all 100ms ease-in-out;transition: all 100ms ease-in-out;}
#rightPanel {padding-left:20px;}

#registerNow {background:#501A00;border:1px solid rgb(156, 67, 24);text-transform:uppercase;font-family:"Open Sans";font-weight:300;padding:12px 30px;border-radius:7px;font-size:16pt;outline:none;margin-bottom:10px;color:#B4FF00;width:100%;}
#registerNow:hover {background:#632000;}

.btn.brownBtn {background:#501A00;border:1px solid rgb(156, 67, 24);color:#f5f5f5;}
.btn.brownBtn:hover {background:#632000;}

.status-icon {background:url("../images/status.gif") 0 0 no-repeat;margin:0 auto;width:28px;height:27px;}
.status-icon.up {background-position:-110px 0;}

.form-control[type="submit"]:hover {background-color:#632000;}
.has-error .form-control {border-width:3px;}

/* changelog */
pre {font: normal 13px Verdana, sans-serif;
    font-size: 12px;
    background-color: #202020;
    border-radius: 8px;
    box-shadow: black 2px 2px 10px;
    color: #0091ff;
    margin: 10px 15px;
    padding: 15px;
    width: 95%;
    -moz-border-radius: 8px;
    -moz-box-shadow: black 2px 2px 10px;
    -webkit-box-shadow: black 2px 2px 10px;
    border:0;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;
    word-break: break-word;}
pre b, pre strong {color:#fff;word-break:break-word;}
pre ul {margin:0;padding:0;}
pre ul li {list-style: disc outside;margin-left: 25px;padding-top: 0.3em;word-break:break-word;}
pre a, pre a:hover {color:#fff;}
pre a:hover {text-decoration: underline;}


/* register */
#registerBody {background: #501A00 url("../images/warrior_transparent.png") top left no-repeat;/*background-size: contain;*//*background-size:720px 450px;*/}

/* tym */
.member:nth-child(odd) {padding-right:10px;clear:left;}
.member:nth-child(even) {padding-left:10px;}

/* icons */
.race {background:url("../images/races.png") 0 0 no-repeat;width:32px;height:32px;margin:0 auto;}
.race.human {background-position:0 0;}
.race.dwarf {background-position:-32px 0px;}
.race.gnome {background-position:-64px 0px;}
.race.nightelf {background-position:-96px 0px;}
.race.draenei {background-position:-128px 0px;}
.race.worgen {background-position:-160px 0px;}
.race.tauren {background-position:0px -32px;}
.race.undead {background-position:-32px -32px;}
.race.troll {background-position:-64px -32px;}
.race.orc {background-position:-96px -32px;}
.race.bloodelf {background-position:-128px -32px;}
.race.goblin {background-position:-160px -32px;}

.race.fhuman {background-position:0px -64px;}
.race.fdwarf {background-position:-32px -64px;}
.race.fgnome {background-position:-64px -64px;}
.race.fnightelf {background-position:-96px -64px;}
.race.fdraenei {background-position:-128px -64px;}
.race.fworgen {background-position:-160px -64px;}
.race.ftauren {background-position:0px -96px;}
.race.fundead {background-position:-32px -96px;}
.race.ftroll {background-position:-64px -96px;}
.race.forc {background-position:-96px -96px;}
.race.fbloodelf {background-position:-128px -96px;}
.race.fgoblin {background-position:-160px -96px;}


.class {background:url("../images/classes.png") 0 0 no-repeat;width:32px;height:32px;margin:0 auto;}
.class.warrior {background-position:0px 0px;}
.class.mage {background-position:-32px 0px;}
.class.rogue {background-position:-64px 0px;}
.class.druid {background-position:-96px 0px;}
.class.hunter {background-position:0px -32px;}
.class.shaman {background-position:-32px -32px;}
.class.priest {background-position:-64px -32px;}
.class.warlock {background-position:-96px -32px;}
.class.paladin {background-position:0px -64px;}
.class.deathknight {background-position:-32px -64px;}

/* text color */
.text-red{color:#dd4b39 !important;}
.text-yellow{color:#f39c12 !important;}
.text-aqua{color:#00c0ef !important;}
.text-blue{color:#0073b7 !important;}
.text-black{color:#111 !important;}
.text-light-blue{color:#3c8dbc !important;}
.text-green{color:#00a65a !important;}
.text-gray{color:#d2d6de !important;}
.text-navy{color:#001f3f !important;}
.text-teal{color:#39cccc !important;}
.text-olive{color:#3d9970 !important;}
.text-lime{color:#01ff70 !important;}
.text-orange{color:#ff851b !important;}
.text-fuchsia{color:#f012be !important;}
.text-purple{color:#605ca8 !important;}
.text-maroon{color:#d81b60 !important;}
    
/* chart js */
.chart-legend {list-style:none;margin:0;padding:0;}


/* response */
/* lower than 992px */
@media (max-width: 1199px)
{
    .navbar-nav > li > a {font-size:11pt;}
    
    #registerNow {font-size:13pt;}
}

/* lower than 992px */
@media (max-width: 991px)
{
    .navbar-default {background:rgb(80, 26, 0);}
    .navbar-nav {padding-left:0;text-align:center;}
    .navbar-nav .dropdown-menu {text-align:center;margin: 0 auto;width:50%;}
    .navbar-nav .dropdown-menu .divider {display:none;}
    .navbar-collapse {position:relative;z-index:90;left:1px;}
    
    #rightPanel {padding:0;}
    
    /* tym */
    .member:nth-child(odd) {padding-right:0;}
    .member:nth-child(even) {padding-left:0;}
    
    /* chart js */
    .chart-legend > li {float:left;margin-right:10px;}
}