RewriteEngine On
RewriteBase /admin/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule [^/]$ %{REQUEST_URI}/ [L,R=301,NE]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ ?arg=$1 [L,QSA]

# lomitko
RewriteCond %{REQUEST_URI} !\.[[:alnum:]]+$
RewriteRule ^/admin/(.+[^/])$ /admin/$1/ [R=301]